/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 квіт 2015, 16:18:46
    Author     : root
*/

table a {
    color: #007095;
  text-shadow: 1px 0.1px 0px #444;
}
.inner-wrap {
    background: url(back.jpg) 160px 0px repeat;
    background-attachment: fixed;
}

.container {
    margin: auto 10px;
    text-shadow: white 1px 0px 1px;
}
.top-bar{    
    box-shadow: black 0px 0px 5px;
}

.title-area {
    font-size: 2em;
    background: url(logo2.png) 8px 1px no-repeat;
    padding-left: 35px;
}
h1 {
    margin: auto !important;
}
form label{
    color: #333;   
    font-size: 1.2em;
}
select.multiselect {
    height: auto !important;
}
div.field select, div.field input, div.field textarea{
    border-top-left-radius: 9px;
    background-color: #ddf;
    border: #ddf solid 2px;
    box-shadow: #09f 1px 2px 2px;    
    height: 40px; 
}
div.field input{       
    font-size: 1em;
}
div.field select{
    font-size: 0.9em;
    height: 2.6em;
}
div.field.inline{
    display:inline;    
    padding: 1em;
}
div.field.inline label{
    display: inline;
}
div.field.inline input{    
    height: 0.8em;
}
div.field select.multiselect[disabled] > option[selected]{
    color: white;
    background-color: #007095;
}
.alert{
    color: red;
}
.alert ul li{        
    list-style-type: decimal;
}
.form-actions{
    padding: 10px 0px;
}
.page-header{
    min-height: 30px;
}
.page-header a.button{
    margin: 15px 5px;
}
a.button, input.button{
    border-radius: 9px !important;
    border: #09f solid 2px;
    color: #333;
    text-shadow: white 1px 0px 1px;
    box-shadow: 0px 1px 0px black, 1px 1px 1px #09f;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.2em;    
    margin: 5px;
}
button span{    
    text-shadow: 1px 1px 0px white;
}
table a.button, tabble input.button{
    font-size: 1em;
    padding: 10px;
    margin: auto;
}
table {
    border: #09f solid 1px;
    box-shadow: 1px 1px 3px #333;
}
table thead tr{
    background-color: #007095;
    border: #09f solid 1px;
    border-bottom-width: 2px;  
    border-left-width: 2px;   
    border-right-width: 3px;
    box-shadow: 1px 1px 3px #333;    
    vertical-align: top;
}
table thead tr > th{
    color: white;
    text-shadow: #333 1px 1px 2px;
    text-transform: lowercase;
    font-size: 1em;;
}
table thead tr > th div.inline input{
    margin: 0px -5px 0px 0px;
}
table thead tr > th div.inline{
    height: 1em;    
    padding-left: 20px;
}
table tbody tr{
    border: #09f solid 1px;
    border-left-width: 2px;  
    border-right-width: 3px;
}
table tbody tr.template_off{
    display: none;
}


.content{
    min-height: 600px;
}
fieldset {
    display: inline-table;
}
fieldset legend {
    background: none;
}
span.label a, span.label-info{
    color: white;
    text-shadow: 0px 1px 0px black;
}
span.label a:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
}
.zurb-footer-bottom {
    background: #333;
    padding: 10px 20px;
    box-shadow: black 0px -1px 5px;
    text-shadow: white 1px 0px 1px;
}
.zurb-footer-bottom > .button-bar p{
    margin: auto;
}

.zurb-footer-bottom ul.zurb-links {
    margin: -10px 10px;
    display: inline-block;
    padding: 0px 10px;
}

.zurb-footer-bottom ul.zurb-links li{
    margin: 0px -10px;
    padding: 10px;
    display: block;
    list-style-type: none;
}